:root {
  --up: calc(1.75rem - 50vh + 20px);
  --right: calc(50vw - 375px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(232, 25%, 10%);
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

form {
  position: absolute;
  display: flex;
  gap: 10px;
}

button {
  border-radius: 20px;
  width: 200px;
  height: 3rem;
  font-size: 2rem;
  border: 1px solid white;
  background-color: hsl(231, 100%, 25%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 2rem;
  height: 3.5rem;
  width: 500px;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
}

/* Animacja */
form {
  transition: transform 1.5s ease-in-out;
}

.move-up {
  transform: translate(var(--right), var(--up));
}

.visible {
  transform: opacity(1)
}

.unvisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.container {
  width: 100%;
  font-size: 2rem;
  color: white;
  transition: opacity 2s ease-in-out;
}